#title
{
    padding:7% 10%;
    background-color: #ff4c68;
    line-height: 1.5;
}

b{color:white;
font-size: xx-large;
}

h1{
    font-family: Montserrat;
    font-weight: bolder;
    font-size:5.6rem;
    color:white;
}

.nav-link
{
    font-size:large;
    font-weight:bold;
    margin-right: auto;
    color:rgb(212, 209, 209);
}
.navbar{margin-bottom: 100px;}
.nav-item{padding: 0 15px;}
.download-button{margin:3% 5% 3% 0;}
.title-image{
   
    width:60%;
    transform: rotate(30deg);
    
}

#features
{
    padding: 7% 15%;
    text-align: center;
    width: 100%;
    line-height: 1.5;
    background-color: #fff;
    z-index: 1;
}

.tick
{
    text-align: center;
    padding:8% 5%;
    height:50px;
    width:50px;
}

.circle{
        text-align: center;
        padding:8% 5%;
        height:50px;
        width:50px;}
.heart{
        text-align: center;
        padding:8% 5%;
        height:50px;
        width:50px;}
#testimonials{    background-color: #ef8172;
    padding: 7% 15%;
    text-align: center;
    line-height: 1.5;
    
    z-index: 1;
    position: relative;
}
em{text-align:center;
color:#fff;}
#press{ background-color: #ef8172;
    padding: 6% 10%;
    text-align: center;
    line-height: 1.5;

    z-index: 1;
    position: relative;}
.p-img{
    width:250px;}
.carousel-item{line-height:1.5;}
h2{text-align:center;}
p{text-align:center;}
#pricing{
    padding:5% 7%;
    line-height:2;
    text-align: center;}
h3{text-align:center;}
.btn{text-align: center;}
.pricing{ position:relative;
top:40px;}
#cta{background-color: #ff4c68;
text-align:center;}
.cta{
    padding:7% 7%;
    color:white;
font-size: 4.2rem;}

#footer{text-align:center;
    padding: 100px 35% 20%;
    color:black;
    
}
.testimonial-img
{
    width:10%;
border-radius:100%;
margin: 3% 5%;}

@media( max-width:1028px)
{.title-image{ 
    position:static;
    width:60%;
    transform: rotate(0);}
.row{
    text-align:center;
}}

